<section id="content">
    <div class="container" ng-controller="app.views.events.detail as vm">
        <div class="block-header">
            <h2>Events</h2>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header ch-alt m-b-20">
                        <h2>
                            {{vm.event.title}}
                            <small><i class="fa fa-calendar-times-o"></i> {{vm.event.date | momentFormat:'DD.MM.YYYY'}}</small>
                        </h2>

                        <ul class="actions">
                            <li>
                                <a href="" ng-click="vm.backToEventsPage()">
                                    <i class="zmdi zmdi-arrow-left"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-sm btn-default" ng-click="vm.backToEventsPage()"><i class="fa fa-arrow-circle-left"></i> @L("BackToEvents")</a>
                                <a class="btn btn-sm btn-primary" ng-if="!vm.isRegistered()" ng-click="vm.register()"><i class="fa fa-star"></i> @L("Register")</a>
                                <a class="btn btn-sm btn-warning" ng-if="vm.isRegistered()" ng-click="vm.cancelRegistertration()"><i class="fa fa-times"></i> @L("CancelRegistration")</a>
                                <a class="btn btn-sm btn-danger" ng-if="vm.isEventCreator()" ng-click="vm.cancelEvent()"><i class="fa fa-times"></i> @L("CancelTheEvent")</a>
                                <div>
                                    <p class="m-t-10">{{vm.event.description}}</p>
                                </div>
                                <div>
                                    <h5>
                                        @L("XregisteredOfYAvailableRegistration", "{{vm.event.registrationsCount}}", "{{vm.event.maxRegistrationCount}}")
                                    </h5>
                                    <div class="registrar" ng-repeat="registration in vm.event.registrations">
                                        <div class="registrar-thumbnail">{{vm.getUserThumbnail(registration)}}</div>
                                        <div class="registrar-body">
                                            <span class="registrar-name">{{registration.userName}} {{registration.userSurname}}</span>
                                            <span class="registrar-time">{{registration.creationTime | fromNow}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>